@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Toogle Service Platform</h1>
    <div align="center">
        <img src="https://mkaufmannblog.files.wordpress.com/2016/12/featureflags_thumb.png" alt="feature toogle">
    </div>
    <p class="lead">
        A feature toggle (also feature switch, feature flag, feature flipper, conditional feature, etc.) is a technique in software development that attempts to provide an alternative to maintaining multiple source-code branches (known as feature branches), such that the feature can be tested, even before it is completed and ready for release. Feature toggle is used to hide, enable or disable the features, during run time. For example, during the development process, the developer can enable the feature for testing and disable it for remaining users.
    </p>
    <p><a href="https://en.wikipedia.org/wiki/Feature_toggle" target="_blank" class="btn btn-primary btn-lg">Learn More &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>There is no DevOps without feature flags!</h2>
        <p>
            If you want to do DevOps, you have to constantly deliver value to your customers and gather evidence of the success in production. This means constant, zero downtime deployments and testing new features with smaller sets of customers (A/B testing, canary releasing).
        </p>
        <p><a class="btn btn-default" target="_blank" href="https://writeabout.net/2016/12/21/there-is-no-devops-without-feature-flags/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is FeatureSwitcher?</h2>
        <p>FeatureSwitcher is little library build to support you when you want to introduce feature switches/toggles in your code.</p>
        <p><a class="btn btn-default" target="_blank" href="https://github.com/mexx/FeatureSwitcher">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>What is LaunchDarkly?</h2>
        <p>LaunchDarkly is a continuous delivery platform that powers developers to build better software, faster. It provides the benefits of feature flag driven development. to both small and large teams.</p>
        <p><a class="btn btn-default" target="_blank" href="https://launchdarkly.com/">Learn more &raquo;</a></p>
    </div>

</div>
<div>
    <br />
    <div style="width: 100%; height: 2px; background: #a01010; overflow: hidden;"></div>
    <br />
    <h3>Others references</h3>
    <p>
        <br />
        <a class="btn btn-default" target="_blank" href="https://www.pluralsight.com/courses/dotnet-featuretoggle-implementing">Implementing Feature Toggles in .NET with FeatureToggle &raquo;</a>
    </p>
    <p>
        <br />
        <a class="btn btn-default" target="_blank" href="http://semver.org/">Why Use Semantic Versioning? &raquo;</a>
    </p>
    <p>
        <br />
        <a class="btn btn-default" target="_blank" href="http://nvie.com/posts/a-successful-git-branching-model/">A successful Git branching model &raquo;</a>
    </p>
    <br />
    <br />
</div>

<div style="width: 100%; height: 2px; background: #a01010; overflow: hidden;"></div>
